@charset 'utf-8';
*{padding: 0px;margin: 0px;}





.page-header{padding: 20px;background-color: #dedede;}


.content{padding: 20px;min-height: 800px;}


footer{padding: 20px;color: #fff;background-color: #000;}